.container {
  width: 1000px;
  background-color: #eee;
  margin: 30px auto;

  display: grid;

  /* TEMPLATES */
  /* grid-template-rows: repeat(2, 150px); */
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-rows: repeat(2, 100px);
  grid-template-columns: repeat(2, 200px);
  height: 1000px;

  /* GAP */
  /* grid-gap: 10px; */
  column-gap: 20px;
  row-gap: 10px;

  /* for explicit grids */
  grid-auto-rows: 100px;
  grid-auto-columns: 0.5fr;
  grid-auto-flow: row dense; /* row | column | row dense | column dense */

  /* Align grid items to grid areas */
  /* align-items: center; */
  /* justify-items: center; */

  /* Align grid tracks to grid container */
  justify-content: center;
  align-content: center;
}

.item {
  padding: 20px;
  color: white;
  font-family: sans-serif;
  font-size: 30px;
  background-color: orangered;
}

.item--4 {
  background-color: crimson;
  grid-row: 2 / span 3;
  /* align-self: start; */
  /* justify-self: start; */
}

.item--6 {
  background-color: lightcoral;
  grid-row: 2 / span 2;
}

.item--7 {
  background-color: palevioletred;
  grid-column: 1 / -1;
}
